<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->
    <title>{{ page.title }} - Anna and James Sheasby Thomas</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/melody.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />

    <meta
      name="description"
      content="Placeholder website for Anna and James Sheasby Thomas"
    />
    <meta name="author" content="James Sheasby Thomas" />
  </head>
  <body></body>
</html>
